h1  {
    margin: 0;
    text-align: inherit;
}
body {
    margin: 0;
}
.container{
    display: block;
    position: relative;
    text-align: center;
    background-color: black;
  }
.container > img{
    position: absolute;
}
.container > img:first-child{
    z-index: 2;
    margin: auto;

}