.top-block {
    /* position: absolute; */
    background-color: black;
    height: 200px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.title-block {
    padding-top: 50px;
    height: 80px;
    line-height:1.35em;
    font-size:40px;
    font-family:'Avenir';
    color:white;
}
.menu-block {
    text-align: center;
    width: 100%;
}
.menu-block ul {
    display: inline-block;
    margin: 0px 0;
    padding: 0px;
}
.menu-block ul li {
    display: inline-block;
}
.menu-block li a {
    display: inline-block;
    color: #FFF;
    padding: 0px;
    text-decoration: none;
    font-family:'Avenir';
}
.image-block {
    display: block;
    width: 80%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
@font-face{
    font-display: block;
    font-family: 'Avenir';
    src: url("../srosenzweig09/fonts/Avenir.ttc") format("truetype");
}