body {
    margin: 0;
}
head {
    margin: 0;
}
a {
    text-decoration: None;
    color: rgb(45, 131, 251);
    font-weight:100;
}
.top-block {
    background-color: black;
    height: 200px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.title-block {
    padding-top: 50px;
    height: 80px;
    line-height:1.35em;
    font-size:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3pt;
    color:white;
}
.menu-block {
    text-align: center;
    width: 100%;
}
.menu-block ul {
    display: inline-block;
}
.menu-block ul li {
    display: inline-block;
}
.menu-block li a {
    display: inline-block;
    color: #FFF;
    padding: 0px 30px;
    font-family:'Verdana';
    font-stretch: extra-expanded;
    text-decoration: none;
    font-size: 15px;
}
.body-container {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.text-block {
    flex: 2;
    padding: 10px 5px;
    margin-top: 15px;
    margin-right: 5px;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.image-block {
    flex: 1;
    padding: 10px 0;
    margin-left: 5px;
    margin-right: auto;
    float: right;
}
p#about {
    text-align: left;
    font-size: 18px;
}

