h1  {
    margin: 0;
    text-align: inherit;
    position: absolute;
    color: white;
    font-size: 100px;
    font-weight: 200;
}
body {
    margin: 0;
}
.im-container{
    display: block;
    position: relative;
    text-align: center;
    background-color: black;
    width: 100%;
  }
.im-container > img:first-child {
    z-index: 2;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -200%);
    left: 0;
    right: 0;
    text-align: center;
}
.im-container > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    margin:auto;
}