body {
    margin: 0;
}
head {
    margin: 0;
}
.top-block {
    /* position: absolute; */
    background-color: black;
    height: 200px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.title-block {
    padding-top: 50px;
    height: 80px;
    line-height:1.35em;
    font-size:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3pt;
    color:white;
}
.menu-block {
    text-align: center;
    width: 100%;
}
.menu-block ul {
    display: inline-block;
}
.menu-block ul li {
    display: inline-block;
}
.menu-block li a {
    display: inline-block;
    color: #FFF;
    padding: 0px 30px;
    font-family:'Verdana';
    font-stretch: extra-expanded;
    text-decoration: none;
    font-size: 15px;
}
.body-container {
    width: 85%;
}
.about-block {
    display: block;
    padding: 15px;
    margin: auto;
    width: 50%;
    text-align: center;
    float: left;
}
.image-block {
    display: block;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: left;
}

@font-face{
    font-display: block;
    font-family: 'Avenir';
    src: url("fonts/Avenir.ttc") format("truetype");
}
@font-face{
    font-display: block;
    font-family: 'Avenir Light';
    src: url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.eot") format("eot");
}
